body {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  max-width: 1920px;
}
body ::-webkit-scrollbar {
  display: none;
}
/* head */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 44px;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 2000px;
}
.header-text {
  color: rgba(0, 0, 0, 1);
}
.headimage {
  display: none;
  height: 18px;
  width: 18px;
}
.ahref {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* head end */
/* nav */
nav {
  text-align: center;
  font-size: 14px;
  color: rgba(29, 29, 31, 1);

  padding-bottom: 16px;
}
/* nav end */
/* section */
section {
  background-image: url(Figure.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
}
.section {
  text-align: center;
  padding-top: 55px;
}
.section-head {
  font-size: 52px;
  color: white;
}
.section-text {
  font-size: 24px;
  color: white;
  padding-top: 16px;
  padding-bottom: 20px;
}
.section-button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.section-button1 {
  height: 44px;
  width: 123px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  border-color: transparent;
  font-size: 16px;
}
.section-button2 {
  height: 44px;
  width: 68px;
  background-color: transparent;
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
}
/* section end */
/* article */
article {
  background-image: url(figure2.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  margin-top: 20px;
}
.section2 {
  text-align: center;
  padding-top: 55px;
}
.section-head2 {
  font-size: 52px;
  color: white;
}
.section-text2 {
  font-size: 24px;
  color: white;
  padding-top: 16px;
  padding-bottom: 20px;
}
.section-buttong {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.section-buttong1 {
  height: 44px;
  width: 123px;
  background-color: white;
  border-radius: 999px;
  color: black;
  border-color: transparent;
  font-size: 16px;
}
.section-buttong2 {
  height: 44px;
  width: 68px;
  background-color: transparent;
  border-radius: 999px;
  border-color: white;
  color: white;
  font-size: 16px;
}
/* article end */
/* aside */
aside {
  background-image: url(Figure3.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  margin-top: 20px;
}
.aside {
  text-align: center;
  padding-top: 446px;
}
.aside-head {
  font-size: 52px;
}
.aside-text {
  font-size: 24px;
  padding-top: 12px;
  padding-bottom: 16px;
}
.aside-button {
  height: 44px;
  width: 114px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  border-color: transparent;
  color: white;
  font-size: 16px;
}
.aside2 {
  background-image: url(Fig1.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  margin-top: 20px;
}
.plus {
  padding-top: 0;
}
.figure-itemfooter2 {
  padding-top: 400px;
}

/* aside end */
/* figure */
figure {
  margin-inline-start: 12px;
  margin-inline-end: 12px;
}

.figure {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.figure-item {
  height: 580px;
  background-image: url(Fig1.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-itemhead {
  padding-top: 58px;
  width: 100%;
}
.figure-itemheadimg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.figure-itemtext {
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  padding-top: 9px;
  padding-bottom: 20px;
}
.figure-itemfooter {
  padding-top: 270px;
}

.figure-item2 {
  height: 580px;
  background-image: url(Fig2.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item2head {
  padding-top: 401px;
  color: white;
  font-size: 36px;
}
.figure-item2text {
  font-size: 18px;
  color: white;
  padding-top: 2px;
  padding-bottom: 10px;
}

.figure-item3 {
  height: 580px;
  background-image: url(Fig3.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item3head {
  padding-top: 58px;
}
.figure-item3text {
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  padding-top: 4px;
  padding-bottom: 16px;
  padding-left: 50px;
  padding-right: 50px;
}
.figure-item3button {
  height: 44px;
  width: 167px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  border-color: transparent;
  font-size: 16px;
}

.figure-item4 {
  height: 580px;
  background-image: url(Fig4.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item4head {
  font-size: 36px;
  color: rgba(29, 29, 31, 1);
  padding-top: 58px;
  font-weight: 700;
}
.figure-item5 {
  height: 580px;
  background-image: url(Fig5.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item6 {
  height: 580px;
  background-image: url(Fig6.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item6button2 {
  text-align: center;
  height: 44px;
  width: 112px;
  background-color: transparent;
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
}
.figure-item7 {
  height: 580px;
  background-image: url(Figuretablet1.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
  display: none;
}
.figure-item7head {
  font-size: 36px;
  color: rgba(29, 29, 31, 1);
  padding-top: 58px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 700;
}
.figure-item8 {
  height: 580px;
  background-image: url(Figuretablet2.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
  display: none;
}
.figure-item8head {
  padding-top: 296px;
  color: black;
  font-size: 36px;
  font-weight: 700;
}
.figure-item8text {
  font-size: 18px;
  color: black;
  padding-top: 4px;
  padding-bottom: 16px;
}
.figure-item9 {
  height: 580px;
  background-image: url(Figuretablet.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
  display: none;
}
.figure-item9head {
  padding-top: 287px;
  color: white;
  font-size: 36px;
}
.figure-item9text {
  font-size: 18px;
  color: white;
  padding-top: 4px;
  padding-bottom: 16px;
}

/* figure end */
/* footer */
footer {
  overflow: scroll;

  display: flex;

  height: 668px;
  justify-content: center;
}
.footer {
  display: flex;
  gap: 16px;
  width: 100%;
}
.footerbg1 {
  aspect-ratio: 1250/668;
  width: 1250px;
  height: 668px;
  position: relative;
}
.fmg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footerbg2 {
  aspect-ratio: 1250/668;
  width: 1250px;
  height: 668px;
  position: relative;
}
.fmg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.footerbg2head {
  height: 44px;
  width: 133px;
  background-color: white;
  border-radius: 999px;
  border-color: transparent;
  text-align: center;
  margin-top: 566px;
  margin-left: 70px;
  font-size: 17px;
  position: absolute;
}
.footerbg2text {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 580px;
  padding-left: 223px;
  position: absolute;
}
.footerbg2textspan {
  color: rgba(255, 255, 255, 1);
}

.footerbg4 {
  aspect-ratio: 16/9;
  position: relative;
  width: 690px;
  height: 368px;
  display: none;
}
.fmg4 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footerbg4head {
  height: 36px;
  width: 108px;
  background-color: white;
  border-radius: 999px;
  border-color: transparent;
  text-align: center;
  margin-top: 305px;
  margin-left: 30px;
  font-size: 17px;
  position: absolute;
}
.footerbg4text {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 307px;
  padding-left: 156px;
  position: absolute;
  text-align: left;
  padding-right: 132px;
}
.footerbg4textspan {
  color: rgba(255, 255, 255, 1);
}
.tabpanel {
  aspect-ratio: 16/9;
  height: 495px;
  width: 274px;
  position: relative;
  display: none;
}
.tab {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* footer end */

/* summary */
summary {
  text-align: center;
  margin: 12px auto;
}
/* summary end */
/* mark */
mark {
  display: flex;
  gap: 16px;
  background-color: white;
  color: white;
  font-size: 14px;
  max-width: 1920px;
  width: 100%;
}
.mark1 {
  aspect-ratio: 286/194;
  height: 236px;
  width: 417px;

  position: relative;
  flex-shrink: 0;
}
.img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.phonebgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  display: none;
}

.mark2text {
  padding-top: 109px;
  padding-left: 226px;
  position: absolute;
}
.mark3text {
  padding-top: 188px;
  padding-left: 15px;
  padding-bottom: 30px;
  position: absolute;
}
.markall {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  justify-content: center;
}
.mark3textphone {
  position: absolute;
  padding-top: 212px;
  padding-left: 15px;
  color: rgba(29, 29, 31, 1);
  display: none;
  font-size: 18px;
  font-weight: 700;
}

/* mark end */
/* figcaption */
figcaption {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  padding-right: 16px;
}
.color {
  font-family: sans-serif;
  font-size: 14px;
  background: linear-gradient(
    90.43deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
/* figcaption end */
@media (max-width: 840px) {
  .header-image {
    padding-left: 16px;
  }
  nav {
    padding-left: 100px;
    padding-right: 100px;
  }
  section {
    background-image: url(Backgroundtab2.png);
  }
  article {
    background-image: url(Backgroundtab3.png);
  }
  .header-text {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(245, 245, 247, 0.8);
  }
  .headimage {
    display: block;
    padding-right: 15px;
  }
  .header-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .figure-item {
    display: none;
  }
  .aside2 {
    display: block;
  }
  aside {
    display: none;
  }
  .figure-item7 {
    display: block;
  }
  .figure-item8 {
    display: block;
  }

  .figure-item9 {
    display: block;
  }
  footer {
    width: 100%;
    height: 100%;
  }

  .figure-item2 {
    display: none;
  }
  .figure-item6 {
    display: none;
  }
  .figure-item3 {
    background-image: url(Figuretablet3.png);
  }
  .footerbg2 {
    display: none;
  }
  .footerbg4 {
    display: flex;
  }
  .footerbg1 {
    display: none;
  }
  .footerbg2 {
    display: none;
  }
  .footerbg3 {
    display: none;
  }
  .img1 {
    height: 90%;
  }
  .mark3text {
    display: none;
  }
  .mark3textphone {
    display: block;
    font-family: "Helvetica Neue", sans-serif;
  }
  .phonebgimg {
    display: block;
    height: 90%;
  }
}

@media (max-width: 500px) {
  .header-image {
    padding-left: 16px;
  }
  nav {
    padding-left: 50px;
    padding-right: 50px;
  }

  .figure {
    flex-direction: column;
  }
  .figure-item {
    width: 100%;
  }
  .figure-item2 {
    width: 100%;
    display: none;
  }
  .figure-item3 {
    width: 100%;
  }
  .figure-item4 {
    width: 100%;
  }
  .figure-item5 {
    width: 100%;
  }
  .figure-item6 {
    width: 100%;
    display: none;
  }
  .figure-item7 {
    width: 100%;
  }
  .figure-item8 {
    width: 100%;
  }
  .figure-item9 {
    width: 100%;
  }
  article {
    background-image: url(Background.png);
    height: 500px;
  }
  section {
    background-image: url(Figuresmall.png);
    height: 500px;
  }
  .section {
    padding-top: 300px;
  }
  .section-text {
    padding-top: 4px;
  }
  .markall {
    flex-direction: row;
    width: 100%;
  }

  .footerbg2 {
    width: 100%;
  }
  .mark2text {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  figcaption {
    width: 100%;
  }
  .footer {
    flex-direction: row;
  }
  .footerbg4 {
    aspect-ratio: 274/495;
    height: 495px;
    width: 274px;
    display: none;
  }
  .footerbg4head {
    display: none;
  }
  .footerbg4text {
    display: none;
  }
  .tabpanel {
    display: block;
  }
  footer {
    display: flex;
    justify-content: center;

    gap: 20px;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
  }
  .img1 {
    height: 90%;
  }

  .mark3text {
    display: none;
  }
  .mark3textphone {
    display: block;
  }
}
