body {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  max-width: 2000px;
}
/* head */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 44px;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
}
.header-text {
  color: rgba(0, 0, 0, 1);
}
/* head end */
/* nav */
nav {
  text-align: center;
  font-size: 14px;
  color: rgba(29, 29, 31, 1);
  padding-top: 16px;
  padding-bottom: 16px;
}
/* nav end */
/* section */
section {
  background-image: url(Figure.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
}
.section {
  text-align: center;
  padding-top: 55px;
}
.section-head {
  font-size: 52px;
  color: white;
}
.section-text {
  font-size: 24px;
  color: white;
  padding-top: 16px;
  padding-bottom: 20px;
}
.section-button {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.section-button1 {
  height: 44px;
  width: 123px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  border-color: transparent;
  font-size: 16px;
}
.section-button2 {
  height: 44px;
  width: 68px;
  background-color: transparent;
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
}
/* section end */
/* article */
article {
  background-image: url(figure2.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  margin-top: 20px;
}
.section2 {
  text-align: center;
  padding-top: 55px;
}
.section-head2 {
  font-size: 52px;
  color: white;
}
.section-text2 {
  font-size: 24px;
  color: white;
  padding-top: 16px;
  padding-bottom: 20px;
}
.section-buttong {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.section-buttong1 {
  height: 44px;
  width: 123px;
  background-color: white;
  border-radius: 999px;
  color: black;
  border-color: transparent;
  font-size: 16px;
}
.section-buttong2 {
  height: 44px;
  width: 68px;
  background-color: transparent;
  border-radius: 999px;
  border-color: white;
  color: white;
  font-size: 16px;
}
/* article end */
/* aside */
aside {
  background-image: url(Figure3.png);
  height: 692px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: 0 auto;
  margin-top: 20px;
}
.aside {
  text-align: center;
  padding-top: 446px;
}
.aside-head {
  font-size: 52px;
}
.aside-text {
  font-size: 24px;
  padding-top: 12px;
  padding-bottom: 16px;
}
.aside-button {
  height: 44px;
  width: 114px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  border-color: transparent;
  color: white;
  font-size: 16px;
}
/* aside end */
/* figure */

.figure {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 12px;
}
.figure-item {
  height: 580px;
  background-image: url(Fig1.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-itemhead {
  padding-top: 58px;
}
.figure-itemtext {
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  padding-top: 9px;
  padding-bottom: 20px;
}
.figure-itemfooter {
  padding-top: 324px;
}

.figure-item2 {
  height: 580px;
  background-image: url(Fig2.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item2head {
  padding-top: 401px;
  color: white;
  font-size: 36px;
}
.figure-item2text {
  font-size: 18px;
  color: white;
  padding-top: 2px;
  padding-bottom: 10px;
}

.figure-item3 {
  height: 580px;
  background-image: url(Fig3.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item3head {
  padding-top: 58px;
}
.figure-item3text {
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  padding-top: 4px;
  padding-bottom: 16px;
}
.figure-item3button {
  height: 44px;
  width: 167px;
  background-color: rgba(0, 113, 227, 1);
  border-radius: 999px;
  color: white;
  border-color: transparent;
  font-size: 16px;
}

.figure-item4 {
  height: 580px;
  background-image: url(Fig4.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item4head {
  font-size: 36px;
  color: rgba(29, 29, 31, 1);
  padding-top: 58px;
}
.figure-item5 {
  height: 580px;
  background-image: url(Fig5.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item6 {
  height: 580px;
  background-image: url(Fig6.png);
  background-size: cover;
  background-position: center;
  width: calc(50% - 6px);
  text-align: center;
}
.figure-item6button2 {
  text-align: center;
  height: 44px;
  width: 112px;
  background-color: transparent;
  border-radius: 999px;
  border-color: rgba(41, 151, 255, 1);
  color: rgba(41, 151, 255, 1);
  font-size: 16px;
}
/* figure end */
/* footer */
footer {
  width: 2000px;
  overflow: scroll;

  display: flex;
  gap: 16px;
  height: 668px;
}
.footer {
  display: flex;
  gap: 16px;
}
.footerbg1 {
  background-image: url(Linksmall.png);
  background-repeat: no-repeat;
  width: 274px;
  height: 668px;
  background-position: center;
  background-size: cover;
}
.footerbg2 {
  background-image: url(Link1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1250px;
  height: 668px;
  display: flex;
}
.footerbg2head {
  height: 44px;
  width: 133px;
  background-color: white;
  border-radius: 999px;
  border-color: transparent;
  text-align: center;
  margin-top: 566px;
  margin-left: 70px;
  font-size: 17px;
}
.footerbg2text {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 580px;
  padding-left: 20px;
}
.footerbg2textspan {
  color: rgba(255, 255, 255, 1);
}
.footerbg3 {
  background-image: url(Linksmall2.png);
  background-repeat: no-repeat;
  width: 274px;
  height: 668px;
  background-position: center;
  background-size: cover;
}
/* footer end */
/* summary */
summary {
  text-align: center;
  margin: 12px auto;
}
/* summary end */
/* mark */
mark {
  display: flex;
  gap: 16px;
  background-color: white;
  color: white;
  font-size: 14px;
  width: 2000px;
}
.mark1 {
  background-image: url(foot1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 417px;
}
.mark2 {
  background-image: url(foot2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 417px;
}
.mark3 {
  background-image: url(foot3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 417px;
}
.mark4 {
  background-image: url(foot4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 417px;
}
.mark5 {
  background-image: url(foot5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 236px;
  width: 205px;
}
.mark1text {
  padding-top: 198px;
  padding-left: 15px;
  text-align: left;
  width: 223px;
}
.mark2text {
  padding-top: 109px;
  padding-left: 226px;
}
.mark3text {
  padding-top: 198px;
  padding-left: 15px;
}
.markall {
  display: flex;
  gap: 16px;
  width: 100%;
  overflow: scroll;
}
/* mark end */
/* figcaption */
figcaption {
  padding-top: 18px;
  padding-left: 1880px;
  padding-bottom: 21px;
}
/* figcaption end */
@media (max-width: 1000px) {
  .figure-item {
    width: 100%;
  }
  aside {
    display: none;
  }
}

@media (max-width: 600px) {
  .figure {
    flex-direction: column;
  }
  .figure-item {
    width: 100%;
  }
  .figure-item2 {
    width: 100%;
  }
  .figure-item3 {
    width: 100%;
  }
  .figure-item4 {
    width: 100%;
  }
  .figure-item5 {
    width: 100%;
  }
  .figure-item6 {
    width: 100%;
  }
  article {
    background-image: url(Background.png);
    height: 500px;
  }
  section {
    background-image: url(Figuresmall.png);
    height: 500px;
  }
  mark {
    flex-direction: column;
  }
  .mark1 {
    width: 100%;
  }
  .mark2 {
    width: 100%;
  }
  .mark3 {
    width: 100%;
  }

  .mark4 {
    width: 100%;
  }
  .mark5 {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footerbg2 {
    width: 100%;
  }
  .mark2text {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
