body {
  margin: 0;
  font-family: Inter, sans-serif;

  background-color: rgba(245, 245, 247, 0.8);
}
body ::-webkit-scrollbar {
  display: none;
}
/* head */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  height: 44px;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 1920px;
  z-index: 10;
}
.header-text {
  color: rgba(0, 0, 0, 1);
}
.headimage {
  display: none;
  height: 18px;
  width: 18px;
}
.ahref {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* head end */
/* nav */
nav {
  text-align: center;
  font-size: 14px;
  color: rgba(29, 29, 31, 1);

  padding-bottom: 16px;
  background-color: white;
  max-width: 2000px;
}
.storebackground {
  max-width: 1920px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main2 {
  display: flex;
  gap: 16px;
}
main {
  padding: 80px 140px;
}
.main1 {
  font-size: 44px;
  color: rgba(110, 110, 115, 1);
  display: flex;
  gap: 32px;
  text-align: center;
  align-items: center;
  font-weight: 700;
}
.storeheading1img {
  text-align: center;
  align-items: center;
  padding-top: 5px;
}
.maintext2 {
  padding-top: 16px;
}
.maintext {
  font-size: 14px;
  color: rgba(29, 29, 31, 1);
  font-weight: 700;
  text-align: center;
}
.ahref1 {
  color: rgba(0, 102, 204, 1);
}
.bottom {
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 146px;
  width: 136px;
  gap: 16px;
  align-items: center;
}
.cardimg {
  height: 78px;
  width: 120px;
}
section {
  display: flex;
  gap: 12px;
  max-width: 1920px;
  justify-content: center;
  text-align: center;
}
.summarytext {
  display: flex;
  padding-left: 140px;
  gap: 10px;
  padding-top: 60px;
  align-items: center;
}
.summ {
  font-size: 24px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
}
article {
  display: flex;
  gap: 20px;
  padding-left: 140px;
  padding-top: 24px;
  padding-bottom: 20px;
  overflow-x: scroll;
  max-width: 2000px;
}
.article {
  aspect-ratio: 16/9;
  height: 500px;
  width: 480px;
  border-radius: 18px;
  border-color: transparent;
  position: relative;
  background-color: aqua;
  transition: box-shadow 0.3s;
}
.summoryimg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.articletextall {
  padding-left: 30px;
  font-weight: 700;
}

.articletext {
  position: absolute;
  padding-top: 30px;
  font-size: 12px;
  color: rgba(182, 68, 0, 1);
}
.articletext2 {
  position: absolute;
  padding-top: 54px;
  font-size: 26px;
  color: rgba(29, 29, 31, 1);
}
.articletext3 {
  position: absolute;
  padding-top: 98px;
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  font-weight: 400;
}
.mainsecond {
  display: flex;
  padding-left: 140px;
  gap: 20px;
  overflow-x: scroll;
  padding-top: 24px;
  flex-grow: 0;
  padding-bottom: 20px;
}
.main1imghead {
  height: 500px;
  width: 400px;
  border-radius: 18px;
  position: relative;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
}
.mainimg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 18px;
}
.main1text {
  position: absolute;
  padding-top: 53px;
  padding-left: 30px;
  padding-right: 173px;
  font-size: 28px;
  font-family: Inter, sans-serif;
  color: rgba(29, 29, 31, 1);
  text-align: left;
  font-weight: 700;
}
.mainimgsecond {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  height: 500px;
  width: 313px;
  background-color: white;
  padding-top: 71px;
  padding-left: 41.5px;
  box-sizing: border-box;
  border-radius: 18px;
  flex-shrink: 0;
}

.mainimgsecondhead {
  font-size: 12px;
  color: rgba(182, 68, 0, 1);
}
.mainimgsecondtext {
  font-size: 18px;
  color: rgba(29, 29, 31, 1);
  font-weight: 700;
}
.mainimgsecondprice {
  font-size: 14px;
  color: rgba(29, 29, 31, 1);
  padding-top: 32px;
  box-sizing: border-box;
  font-weight: 400;
}
.plus {
  padding-top: 58px;
}
.plus2 {
  padding-right: 44px;
}
.plus3 {
  padding-top: 21px;
  padding-right: 28px;
}
.plus4 {
  padding-right: 28px;
}
.plus5 {
  font-size: 26px;
}
.plus6 {
  padding-top: 130px;
  padding-left: 30px;
  font-size: 17px;
  font-weight: 400;
  padding-right: 191px;
  color: rgba(29, 29, 31, 1);
}
.plus7 {
  color: white;
  padding-right: 0;
}

.aside {
  height: 500px;
  width: 480px;
  position: relative;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 18px;
  flex-shrink: 0;
}

.asideimg {
  aspect-ratio: 16/9;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 18px;
}
.asideall {
  padding-top: 24px;
  padding-left: 140px;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding-bottom: 20px;
}
.asidebox {
  height: 240px;
  width: 313px;
  background-color: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 45px;
  flex-grow: 0;
  box-sizing: border-box;
}
.asideboxall1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerimg {
  width: 400px;
}
.asidetext {
  font-size: 22px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
}
.asideheader {
  position: absolute;
  padding-top: 31px;
  padding-left: 30px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(110, 110, 115, 1);
}
.asidetext2 {
  color: white;
}
.plus5-1 {
  padding-right: 50px;
  font-size: 26px;
}
.plus6-1 {
  padding-right: 40px;
  padding-top: 158px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 17px;
}
.plus5-12 {
  padding-right: 74px;
  font-size: 26px;
  color: white;
}
footer {
  padding-top: 60px;
}
.footerhead {
  padding-left: 140px;
  font-size: 26px;
  font-weight: 700;
  color: rgba(29, 29, 31, 1);
}
.footerbutton {
  display: flex;
  padding-left: 140px;
  padding-bottom: 100px;
  padding-top: 24px;
  gap: 12px;
}
.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 20px;
  border-radius: 999px;
  background-color: transparent;
  border-color: rgba(29, 29, 31, 1);
  font-size: 14px;
  font-weight: 400;
  color: rgba(29, 29, 31, 1);
}
.vector {
  height: 8px;
  width: 8px;
  font-size: 11px;
}
@media (max-width: 1000px) {
  .header-text {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(245, 245, 247, 0.8);
  }
  .headimage {
    display: block;
    padding-right: 15px;
  }
  .header-image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .header-image {
    padding-left: 16px;
  }
}
.summ1 {
  font-size: 24px;
  gap: 8px;
  color: rgba(110, 110, 115, 1);
  font-weight: 700;
  padding-right: 940px;
}
.color {
  font-family: sans-serif;
  font-size: 24px;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.sumfooter {
  display: flex;
}
.head {
  font-size: 44px;
  font-weight: 700;
  padding-right: 32px;
}
.dark-mode {
  background-color: gray;
  color: white;
  position: relative;
}
.darkmodefoot {
  padding: 40px 100px;
  border-radius: 500px;
  font-size: 50px;
  background-color: transparent;
}
.dark-mode .maintext {
  color: white;
}
.dark-mode .footerhead {
  color: white;
}
.dark-mode .button {
  color: white;
}
.dark-mode nav {
  background-color: gray;
  color: white;
}

.article:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.main1imghead:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.mainimgsecond:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.aside:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.asidebox:hover {
  transform: scale(1.03);
  transition: transform 0.5s;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.button:hover {
  background-color: black;
  color: white;
}
